.betwMyA {

.logo {
  //background-color: #DEA02C;
  padding: 10px ;
  min-height: 10px;
  text-align: center;
  color: #005B91;
  //font-family: 'Lucida Sans Unicode';
  font-family: Lucida Sans, Lucida Sans Unicode, Helvetica, Arial, sans-serif;
}

.text-label{

	font-size: 22px;
}

.text-label{

	font-size: 20px;
}

}
