.modalBetwA {


.image-logo{

	// height:30%;
	 //text-align: center;
	 // max-width: 30%;
   	 // min-height: 30%;
   //margin-left: -5px;
   //margin-top: -15px;
   //padding: 0px 0 0px 0;
	height: 20vh;
  	width: auto;
  	margin: auto;
  	display: block;

}

.logo {
  //background-color: #DEA02C;
  padding: 10px ;
  min-height: 10px;
  text-align: center;
  color: #005B91;
  //font-family: 'Lucida Sans Unicode';
  font-family: Lucida Sans, Lucida Sans Unicode, Helvetica, Arial, sans-serif;
}
.text-header{
  color: #fff;
  font-family: Lucida Sans, Lucida Sans Unicode, Helvetica, Arial, sans-serif;
  background: color($colors,secondary );
}

.text-card{
	text-align: center;
	font-family: Lucida Sans, Lucida Sans Unicode, Helvetica, Arial, sans-serif;
	

}

p{
	//padding: 0 40px;
    font-size: 16px;
    line-height: 1.5;
    color: color($colors,primary );
}
h2{
	//padding: 0 40px;
    font-size: 16px;
    line-height: 1.5;
    color: color($colors,primary );

}
h1{
	color: color($colors,primary );
}

}
