.logo-img{
   text-align: center; 
}

.transfer-money {

//background-color:041934 005B91 #DEA02C; 0079C1
//primary 005B91
.logo {
  //background-color: #DEA02C;
  padding: 10px ;
  min-height: 10px;
  text-align: center;
  color: #005B91;
  //font-family: 'Lucida Sans Unicode';
  font-family: Lucida Sans, Lucida Sans Unicode, Helvetica, Arial, sans-serif;

}

.logo img {
   max-width: 80%;
   min-height: 30px;
   //margin-left: -5px;
   margin-top: -15px;
   padding: 0px 0 0px 0;
}

.button-style{
	background-color: #005B91;
	color: #fff;
	font-size: 18px;
	//font-family: 'Lucida Sans Unicode';
  font-family: Lucida Sans, Lucida Sans Unicode, Helvetica, Arial, sans-serif;

	//padding: 1px 0px 1px 0px;
} 
/* 
.text-button .button{
	text-align: left;
	padding-right:0px !important;
	background-color:  #005B91;
	color: #fff;
	 //padding: 20px ;
  	//min-height: 10px;
	
	//font-size: 20px;
}
*/

}
