.logo-img{
   text-align: center; 
}

.trans-enquiry {
//primary  0079C1 DEA02C
.title-pag {
  //background-color: #DEA02C;
  padding: 10px ;
  min-height: 10px;
  text-align: center;
  color: #005B91;
}

.content-style{
//background-color: #0079C1 ;
	color: #0079C1;
}

.logo {
  //background-color: #DEA02C;
  padding: 10px ;
  min-height: 10px;
  text-align: center;
  color: #005B91;
  //font-family: 'Lucida Sans Unicode';
  font-family: Lucida Sans, Lucida Sans Unicode, Helvetica, Arial, sans-serif;

}


.text-date{
  font-size: 18px;
}

}
